<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :about, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :url, input_html: { class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.input :date, input_html: { class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
